::deep thead {
    position: sticky;
    top: 0;
    background-color: #d8d8d8;
    outline: 1px solid gray;
    z-index: 1;
}

::deep tr {
    height: 70px;
    border-bottom: 0.5px solid silver;
}

.page-size-chooser {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
